/**
 This class represents a parking metre.
 @author Daniel Gallant 3429145
*/
public class ParkingMetre 
{

	/**
	The location of the parking metre (e.g. "Queen Street").
	*/
            private String location; 
	
	

	/**
	The cost of parking at the metre (in $/minute).
	*/
	    private double parkingRate;
	
	

	/**
	The amount of time on the parking metre (minutes).
	*/
	    private double time;
	
	



	/**
	This method constructs a parking metre in a specified location and parking rate. 
	The parking metre is initially empty.
	@param locationIn The location of the metre.
	@param parkingRateIn The cost of parking at the metre (in $/minute).
	*/
	    public ParkingMetre(String locationIn, double parkingRateIn)
            {
	       location = locationIn;
	       parkingRate = parkingRateIn;
	       time = 0;
	    } 
	
	


	/**
	This method retrieves the location of the parking metre.
	@return The location of the metre.
	*/
         public String setLocation()
        {
	    return location;
        }
	
	


	/**
	This method retrieves the cost of parking at the metre.
	@return The cost of parking at the metre ($/min).
	*/
         public double setParkingRate()
        {
	    return parkingRate;
        }
	
	
	


	/**
	This method retrieves the amount of time left on the metre.
	@return The amount of time on the metre.
	*/
         public double setTime()
        {
	    return time;
        }
	
	
       
	/**
	This method parks at a metre for a certain period of time, 
	reducing the amount of time left on the metre. 
	You may assume that the time parked at a metre will not be for longer
	then what is paid for in the metre.
	you do NOT need to include a check for this in your solution).
	@param time The time parked at the metre (in minutes).
	*/    
        public void removeTime(double timeIn)
        {
	    time = time - timeIn;
	}

	/**
	This method adds money to the metre.
	@param moneyAdded Amount of money added to the metre.
	*/
        public void addMoney(double moneyIn)
        {
	    time = time + moneyIn/parkingRate;
	}

} //end ParkingMetre
